.navbar-center{
  color: blue;
}
body{
padding-top: 60px;
background-image: url(http://weknowyourdreams.com/images/earth/earth-05.jpg);
}
.input-group {
padding-top: 7px;
width: 395px !important;
}
.panel-body{
  padding: 10px;
  font-size: 20;
  background-color: white;
}
