body{
padding-top: 80px;
background-image: url(https://thetab.com/blogs.dir/32/files/2016/05/maxresdefault-2.jpg);
background-size: cover;
}
.input-group{
width: 250px !important;
}
.panel-body{
padding: 50px;
font-size: 20;
background-color: white;
}
.blue{
color: blue;
}
